<%- include("../partials/header") %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">GoCamp</p>
      <div class="list-group">
        <li class="list-group-item acitve">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
    <div class="container">
      <div class="col-md-9">
        <div class="thumbnail">
          <img class="img-responsive" src="<%=campground.image %>" alt="" />
          <div class="caption">
            <h4 class="pull-right"><strong>$<%=campground.price%>/night</strong></h4>
            <h4><a href="#"><%=campground.name%></a></h4>
            <p><%=campground.description%></p>
            <p>
              <em>Submitted by: <%= campground.author.username %>, <%= moment(campground.createdAt).format('MMMM Do YYYY, h:mm:ss a') %></em>
            </p>
            <div style="display: flex;" >
              <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                <a class="btn btn-sm btn-warning" href="/campgrounds/<%=campground._id%>/edit">Edit </a>&nbsp;
                
                <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST" >
                  <button class="btn btn-sm btn-danger">Delete</button>
               </form>
              <%}%>
              
            </div>
              
            
            
          </div>
          <div class="well">
            <div class="text-right">
              <a
                href="/campgrounds/<%= campground._id %>/comments/new"
                class="btn btn-info"
                >Add new Comment</a
              >
            </div>
            <hr />
            <% campground.comments.forEach(function(comment){ %>
            <div class="row">
              <div class="col-md-12">
                <strong><%=comment.author.username%></strong>
                <!-- <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span> -->
                <span class="pull-right"><%= moment(comment.createdAt).format('MMMM Do YYYY, h:mm:ss a') %></span>
                <p>- <%= comment.text %></p>
                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                  <a class="btn btn-xs btn-warning" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
                  <form style="display: inline;" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                  </form>
               <% } %>
                
                
              </div>
              
            </div>

            <%})%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
